@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background:white;
    font-family: 'Open Sans', sans-serif;

}

.search{
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm{
    width: 30%;
    border:3px brown ;
    border-right:none ;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color:brown ;
}

.searchTerm:focus{
    color:brown;

}

.searchButton{
    width: 40px;
    height: 36px;
    border: 1px brown;
    background: brown;
    text-align: center;
    color: aliceblue;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.warp{
    width: 30%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* #porducts{
    max-width: 1200px;
    margin: auto;
    display: grid;

} */